.header{
    background-color: #242f42;
}
.login-wrap{
    background: #3f3f3f;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #32B16C;
}
.el-upload--text em {
    color: #32B16C;
}
.pure-button{
    background: #32B16C;
}
.tags-li.active {
    border: 1px solid #32B16C;
    background-color: #32B16C;
}
.message-title{
    color: #32B16C;
}
.collapse-btn:hover{
    background: #3f3f3f;
}